/* Общий стиль для всех блоков-контейнеров */
#left_panel, #right_panel {
    border: solid rgb(34, 148, 34);       /* рамка */
    padding: 1;                   /* отступ внутри */
    margin: 1;                   /* отступ снаружи */
    background: $surface;         /* фон */
}

/* Заголовок внутри каждого блока (Label) */
#left_panel > Label,
#right_panel > Label {
    background: $surface;
    color: red;
    padding: 0 2;
    width: auto;
    height: 1;
    text-style: bold;
    offset-x: -2;
}

#left_panel {
    width: 30%;
    padding: 1;
}

#right_panel {
    width: 70%;
    padding: 1;
}

Button {
    width: 100%;
    margin: 1;
}

Button:hover {
    background: rgb(90, 128, 233);
}